.heading{
    width:100%;
    text-align:left;
}
.heading h3{
    display: inline;
}
.heading button{
    float:right;
    border:1px solid white;
}
#start,#status{
    font-size: 22px;
}
.copy_right_footer{
        position:fixed;
        color: blue;
        bottom: 0;
        width: 100%;
        background-color: antiquewhite;
        line-height: 3;
        text-align: center;
}

     canvas{
        border:2px solid white;
        border-radius: 10px;
        margin-top: 130px;
        box-shadow: 5px 5px 5px white;
     }